[detux]
#Folder to dump PCAPs
pcap_folder=pcaps/
temp_folder=/tmp
#Total time for the Binary to run insde VM in seconds
vm_exec_time=30
#Default CPU type for executing Binary
default_cpu=x86

#Config for x86 Linux VM
[x86-1]
#VM IP
ip=10.1.1.11
#SSH user (root)
user=root
#SSH password
password=super
#VM Nic's MAC Address
macaddr=00:11:22:33:44:55
#SSH PORT
port=22

#Config for x86-64 Linux VM
[x86-64-1]
#VM IP
ip=10.1.1.12
#SSH user (root)
user=root
#SSH password
password=super
#VM Nic's MAC Address
macaddr=00:11:22:33:44:56
#SSH PORT
port=22

#Config for ARM Linux VM
[arm-1]
#VM IP
ip=10.1.1.13
#SSH user (root)
user=root
#SSH password
password=super
#VM Nic's MAC Address
macaddr=00:11:22:33:44:57
#SSH PORT
port=22

#Config for MIPS Linux VM
[mips-1]
#VM IP
ip=10.1.1.14
#SSH user (root)
user=root
#SSH password
password=super
#VM Nic's MAC Address
macaddr=00:11:22:33:44:58
#SSH PORT
port=22

#Config for MIPSEL Linux VM
[mipsel-1]
#VM IP
ip=10.1.1.15
#SSH user (root)
user=root
#SSH password
password=super
#VM Nic's MAC Address
macaddr=00:11:22:33:44:59
#SSH PORT
port=22
